/* Global */

:root{

    /* App Colors */

    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);



    /* color */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;

    /* size */
    --size-max-width: 1200px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;

}

h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--color-text);

}

button{
    background: transparent;
    outline: 0;
    border: none;
}

button:hover{
    outline: 1px solid var(--color-accent);

}

/* Common */

.section{
    padding: 4rem;
    text-align: center;
}

.max-container{
    max-width: var(--size-max-width);
    margin: auto;
}

.title{
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}


/* header */


.header{
    position: fixed;
    top: 0;
    background-color: #050a13;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 1;
    
}


.header__logo{
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__logo_img{
    width: 36px;
    height: 36px;

}

.header__logo_title{
    font-size: 1.8rem;
}

.header__menu{
    gap: 4px;
    display: flex;

}

.header__menu_item{
    display: flex;
    padding: 8px 16px;
}

.header__menu_item:hover{
    border-bottom: 1px solid var(--color-accent);
}

.header__menu_item.active{
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

#home{
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
}

.home__avatar{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid var(--color-accent);
}

.home__title{
    font-size: 3rem;
}

.home__title strong{
    color: var(--color-accent);
}

.home__des{
    margin: 1rem;
}

.home__btn{
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-primary);
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin: 1.5rem;
    border-radius: 4px;

}


.home__btn:hover{
    background-color: transparent;
    outline: 1px solid var(--color-accent);
    color: var(--color-text);
}


/* about */

.majors{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0;
    gap: 1rem;
}

.major{
    color: var(--color-text);
    padding: 2rem 1rem;
    border-radius: 10px;
    background-color: var(--color-primary-variant);
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.major__icons{
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease;
}

.major__title{
    
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.major:hover .major__icons{
    
    transform: rotate(-15deg) scale(1);
}

.major__title{
    font-size: 1rem;
}


.job{
    text-align: start;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
}

.job__name{
    color: var(--color-primary-variant);
}

.job__period{
    font-size: 0.8rem;
    color: var(--color-primary-variant);
}

/* skills */

#skills{
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

.skiils{
    display: grid;
    grid-template-columns: 6fr 4fr;
    border-radius: 8px;
    overflow: hidden;
    margin: 2rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.skills__title{
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2em;
}

.skills__coding{
    background-color: var(--color-primary);
    grid-row: span 2;
    padding: 1rem;
}

.skills__tools{
    padding: 1rem;

}

.skills__etc{
    background-color: var(--color-primary);
    padding: 1rem;
    filter: brightness(150%);


}

.bar{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;

}

.bar__metadate{
    display: flex;
    justify-content: space-between;

}

.bar__bg{
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}

.bar__value{
    height: 3px;
    background-color: var(--color-accent);
}

/* Work */


#work{
    background-color: var(--color-primary);
    color: var(--color-text);
}

.categories{
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 0.5rem;
}

.category{
    color: var(--color-text);
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    padding: 0.5rem 3rem;
    font-size: 1.1rem;
    position: relative;
    cursor: pointer;
    white-space: nowrap;

}


.category__count{
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    color: var(--color-text);
    background-color: var(--color-accent-variant);
    transition: all 250ms ease-in;
}

.category--selected{
    background-color: var(--color-accent);
    color: var(--color-primary);
}


.category:hover .category__count,
.category--selected .category__count{
   
    opacity: 1;
    top: 0;

}