/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
 
   /* size */
   --size-border-radius: 4px;
}


    /* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

  /* Universal tags */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


body{
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    text-decoration: none;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--color-pink);
    color: var(--color-white);
}

.navbar_logo{
    display: inline-block;
    font-size: var(--font-medium);
}

.navbar_logo img{
    width: 30px
}

.navbar_logo a{
    color: var(--color-white);
    font-weight: 600;
}

.navbar_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_menu ul li{

    display: inline-block;
    list-style: none;
    color: var(--color-white);


}

.navbar_menu ul li a{
    padding: 12px;
    color: var(--color-white);
    text-decoration: none;
}

.navbar_menu ul li a:hover{
 
    border-radius: 10px;
   background-color: var(--color-dark-pink);
}


